<div class="box box-solid">
  <div class="box-header">
    <h3 class="box-title">配件列表</h3>

    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Cname</th>
          <th>Uid</th>
          <th>Uom</th>
          <th>Price</th>
          <th>Desc</th>
          <th>Note</th>
          <th>Deleted</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @parts.each do |part| %>
          <tr>
            <td>
              <%= part.name %>
            </td>
            <td>
              <%= part.cname %>
            </td>
            <td>
              <%= part.uid %>
            </td>
            <td>
              <%= part.uom %>
            </td>
            <td>
              <%= part.price %>
            </td>
            <td>
              <%= part.desc %>
            </td>
            <td>
              <%= part.note %>
            </td>
            <td>
              <%= part.deleted %>
            </td>
            <td>
              <%= link_to 'Show', part %>
            </td>
            <td>
              <%= link_to 'Edit', edit_part_path(part) %>
            </td>
            <td>
              <%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>

  </div>
</div>

<%= link_to 'New Part', new_part_path %>