<div class="box box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">个人设置</h3>
  </div>
  <%= simple_form_for(@user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
  <div class="box-body">
    <%= f.error_notification %>
    <%= f.input :avatar, as: :file, wrapper: :horizontal_file_input %>
    <%= f.input :email %>
    <%= f.input :username %>
    <%= f.input :phone %>
  </div>

  <div class="box-footer">
    <div class="actions form-group">
      <div class="col-xs-offset-4 col-xs-4">
        <%= link_to '返回', users_path, class: 'btn btn-default btn-block btn-flat' %>
      </div>
      <div class="col-xs-4">
        <%= f.submit '提交', class: 'btn btn-primary btn-block btn-flat' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
