<%= form_with(model: user, local: true, html: { multipart: true, class: 'form-horizontal' }) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :avatar, class: 'control-label col-xs-3' %>
    <div class="col-xs-9">
      <%= f.file_field :avatar, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'control-label col-xs-3' %>
    <div class="col-xs-9">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :username, class: 'control-label col-xs-3' %>
    <div class="col-xs-9">
      <%= f.text_field :username, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, class: 'control-label col-xs-3' %>
    <div class="col-xs-9">
      <%= f.phone_field :phone, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-xs-offset-4 col-xs-4">
      <%= link_to '返回', users_path, class: 'btn btn-default btn-block btn-flat' %>
    </div>
    <div class="col-xs-4">
      <%= f.submit '提交', class: 'btn btn-primary btn-block btn-flat' %>
    </div>
  </div>
<% end %>
