<div class="box box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">系统首页</h3>
  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">个人信息</h3>
          </div>
          <div class="box-body">
            <div class="text-center" style="overflow-x: auto;">
              <%= image_tag @user.avatar.url(:thumb), size: '100x100' %>
            </div>
            <dl class="dl-horizontal">
              <dt>UserName</dt>
              <dd><%= @user.username %></dd>
              <dt>Email</dt>
              <dd><%= @user.email %></dd>
              <dt>Phone</dt>
              <dd><%= @user.phone %></dd>
              <dt>Category</dt>
              <dd><%= @user.category %></dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">其他信息</h3>
          </div>
          <div class="box-body">
            <span>一些图表</span>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!--
  <div class="box-footer">
  </div>
  -->
</div>
