<%= form_with(model: factory, local: true) do |form| %>
  <% if factory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(factory.errors.count, "error") %> prohibited this factory from being saved:</h2>

      <ul>
      <% factory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :factory_name %>
  </div>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid, id: :factory_uid %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :factory_phone %>
  </div>

  <div class="field">
    <%= form.label :contacter %>
    <%= form.text_field :contacter, id: :factory_contacter %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.text_field :telephone, id: :factory_telephone %>
  </div>

  <div class="field">
    <%= form.label :expired_at %>
    <%= form.datetime_select :expired_at, id: :factory_expired_at %>
  </div>

  <div class="field">
    <%= form.label :deleted %>
    <%= form.check_box :deleted, id: :factory_deleted %>
  </div>

  <div class="field">
    <%= form.label :province %>
    <%= form.text_field :province, id: :factory_province %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :factory_city %>
  </div>

  <div class="field">
    <%= form.label :county %>
    <%= form.text_field :county, id: :factory_county %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :factory_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
