<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @factory.name %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @factory.uid %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @factory.phone %>
</p>

<p>
  <strong>Contacter:</strong>
  <%= @factory.contacter %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @factory.telephone %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @factory.expired_at %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @factory.deleted %>
</p>

<p>
  <strong>Province:</strong>
  <%= @factory.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @factory.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @factory.county %>
</p>

<p>
  <strong>Address:</strong>
  <%= @factory.address %>
</p>

<%= link_to 'Edit', edit_factory_path(@factory) %> |
<%= link_to 'Back', factories_path %>
