<div class="box box-solid">
  <%= simple_form_for(@company, html: { class: 'form-horizontal'}, wrapper: :horizontal_form ) do |f| %>
  <%= f.error_notification %>
  <div class="box-body">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :uid %>
    <%= f.input :phone %>
    <%= f.input :contacter %>
    <%= f.input :telephone %>
    <%= f.input :expired_at, as: :datetime, use_two_digit_numbers: true , start_year: Date.today.year, order: [:year, :month, :day], wrapper: :horizontal_radio_and_checkboxes %>
    <%= f.input :deleted, wrapper: :horizontal_radio_and_checkboxes %>
    <%= f.input :province %>
    <%= f.input :city %>
    <%= f.input :county %>
    <%= f.input :address %>
  </div>
  <div class="form-actions box-footer">
    <div class="col-xs-offset-4 col-xs-4">
      <%= link_to '返回', companies_path, class: 'btn btn-default btn-block btn-flat' %>
    </div>
    <div class="col-xs-4">
      <%= f.submit '提交', class: 'btn btn-primary btn-block btn-flat' %>
    </div>
  </div>
  <% end %>
</div>