<div class="box box-solid">
  <div class="box-header">
    <h3 class="box-title">工厂列表</h3>

    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Uid</th>
          <th>Phone</th>
          <th>Contacter</th>
          <th>Telephone</th>
          <th>Expired at</th>
          <th>Deleted</th>
          <th>Province</th>
          <th>City</th>
          <th>County</th>
          <th>Address</th>
          <th colspan="3">操作</th>
        </tr>
      </thead>

      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= company.name %></td>
            <td><%= company.uid %></td>
            <td><%= company.phone %></td>
            <td><%= company.contacter %></td>
            <td><%= company.telephone %></td>
            <td><%= company.expired_at %></td>
            <td><%= company.deleted %></td>
            <td><%= company.province %></td>
            <td><%= company.city %></td>
            <td><%= company.county %></td>
            <td><%= company.address %></td>
            <td><%= link_to 'Show', company %></td>
            <td><%= link_to 'Edit', edit_company_path(company) %></td>
            <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'New Company', new_company_path %>
