<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @company.uid %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Contacter:</strong>
  <%= @company.contacter %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @company.telephone %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @company.expired_at %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @company.deleted %>
</p>

<p>
  <strong>Province:</strong>
  <%= @company.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @company.county %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
