<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Cname:</strong>
  <%= @category.cname %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @category.uid %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @category.deleted %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
