<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="<%#= 'active' if 'static' == controller_name && 'home' == action_name %>">
        <a href="<%= home_path %>">
          <i class="fa fa-home"></i>
          <span>系统首页</span>
        </a>
      </li>

      <li class="<%#= 'active' if 'static' == controller_name && 'profile' == action_name %>">
        <a href="<%= profile_path %>">
          <i class="fa fa-user"></i>
          <span>个人设置</span>
        </a>
      </li>

      <li class="treeview <%= 'active menu-open' if ['components', 'boards', 'parts', 'crafts'].include?(controller_name) %>">
        <a href="#">
          <i class="fa fa-cogs"></i>
          <span>生产资料</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="<%= 'active' if 'components' == controller_name %>">
            <a href="<%= components_path %>">
              <i class="fa fa-link"></i>
              <span>组件</span>
            </a>
          </li>
          <li class="<%= 'active' if 'boards' == controller_name %>">
            <a href="<%= boards_path %>">
              <i class="fa fa-link"></i>
              <span>板料</span>
            </a>
          </li>
          <li class="<%= 'active' if 'parts' == controller_name %>">
            <a href="<%= parts_path %>">
              <i class="fa fa-link"></i>
              <span>配件</span>
            </a>
          </li>
          <li class="<%= 'active' if 'crafts' == controller_name %>">
            <a href="<%= crafts_path %>">
            <i class="fa fa-link"></i>
              <span>工艺</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview <%= 'active menu-open' if ['incomes', 'expends'].include?(controller_name) %>">
        <a href="#">
          <i class="fa fa-calculator"></i>
          <span>财务系统</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="<%= 'active' if 'incomes' == controller_name && ['index', 'show', 'edit', 'update'].include?(action_name) %>">
            <a href="<%= incomes_path %>">收入</a>
          </li>
          <li class="<%= 'active' if 'expends' == controller_name && ['index', 'show', 'edit', 'update'].include?(action_name) %>">
            <a href="<%= expends_path %>">支出</a>
          </li>
        </ul>
      </li>
      
      <li class="treeview">
        <a href="#">
          <i class="fa fa-briefcase"></i>
          <span>订单</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="#">列表</a>
          </li>
          <li>
            <a href="#">下单</a>
          </li>
          <li>
            <a href="#">生产中</a>
          </li>
          <li>
            <a href="#">已入库</a>
          </li>
          <li>
            <a href="#">发货</a>
          </li>
          <li>
            <a href="#">已发货</a>
          </li>
          <li>
            <a href="#">已完成</a>
          </li>
        </ul>
      </li>

      <li class="treeview bg-red <%= 'active menu-open' if ['users', 'companies', 'categories'].include?(controller_name) %>">
        <a href="#">
          <i class="fa fa-cog" style="color:#FFF;"></i>
          <span style="color: #FFF;">系统设置</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="<%= 'active' if 'users' == controller_name && ['index', 'show', 'edit', 'update'].include?(action_name) %>">
            <a href="<%= users_path %>">用户管理</a>
          </li>
          <li class="<%= 'active' if 'companies' == controller_name && ['index', 'show', 'edit', 'update'].include?(action_name) %>">
            <a href="<%= companies_path %>">公司列表</a>
          </li>
          <li class="<%= 'active' if 'categories' == controller_name && ['index', 'show', 'edit', 'update'].include?(action_name) %>">
            <a href="<%= categories_path %>">类型列表</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>