<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= ENV['app_name'] %>
    </title>
    <%= favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= render 'layouts/shim' %>
    <script>
      // 解决 Turbolinks 导致的 window.onload、DOMContentLoaded、jQuery.ready 事件失效问题
      <%# document.addEventListener("turbolinks:load", function () {
        $('body').layout('fix');
        $('body').layout('fixSidebar');
      }); %>
    </script>
  </head>

  <body class='fixed skin-purple-light sidebar-mini'>
    <div class='wrapper full-wrapper'>
      <header class='main-header'>
        <a href="<%= root_path %>" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b><%= Figaro.env.short_app_name %></b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b><%= Figaro.env.full_app_name %></b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to '登录', new_user_session_path %>
              </li>
              <li>
                <%= link_to '注册', new_user_registration_path %>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <div class='content-wrapper'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>