<div class='register-box'>
  <div class="register-logo">
    <a href="<%= root_path %>">
      <b>生产管理系统</b>
    </a>
  </div>

  <div class='register-box-body'>
    <p class="login-box-msg">注册账号</p>
    <%= simple_form_for(resource, as: resource_name, wrapper: :horizontal_form ) do |f| %>
      <%#= f.error_notification %>
      <%#= devise_error_messages! %>
      <%= f.input :email, label: '邮箱', autofocus: true, placeholder: '请输入邮箱' %>
      <%= f.input :password, label: '密码', placeholder: '请输入密码' %>
      <%= f.input :password_confirmation, label: '重复密码', placeholder: '请再次输入密码' %>
      <!--
      <div class="form-group">
        <%#= f.label :category, '用户类型', class: 'control-label col-xs-3' %>
      <%#= f.collection_radio_buttons :category, [[false, '普通用户'] ,[true, '企业用户']], :first, :last, checked: false %>
      </div>
      -->
      <%= f.input :category, label: '用户类型', as: :radio_buttons, collection: [['普通用户', 'normal'] ,['企业用户', 'company']], checked: resource.category %>
      <div class="field form-group">
        <div class="col-xs-8">
          <div class="links">
            <small>已有账号？<%= link_to '登陆', new_user_session_path %></small>
          </div>
        </div>
        <div class="col-xs-4">
          <%= f.submit '注册', class: 'btn btn-primary btn-block btn-flat' %>
        </div>
      </div>
    <% end %>
  </div>
</div>